body {
  font-family: sans-serif;
  margin: auto 700px;
  background-color: #f2f2f2;
  padding: 20px;
}
.FormDetails {
  display: flex;
  margin: 10px 0px;
  align-items: center;
}
.FormDetails-text {
  padding-left: 20px;
  text-align: left;
  margin-left: 20px;
  border: 1px solid;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.FormDetails-option {
  margin-left: 30px;
  border-radius: 4px;
  height: fit-content;
  padding: 2px;
}
.FormDetails-radio {
  margin-left: 55px;
}
.FormDetails-dept {
  padding-left: 20px;
  text-align: left;
  margin-left: 45px;
  border: 1px solid;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.TextArea {
  border-radius: 4px;
  border: 1px solid;
}
.button {
  color: white;
  background: #4caf50;
  float: right;
  cursor: pointer;
}
